@import url("./variables.css");

/* sr-only */
.sr-only { 
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* button with icon */

.button-with-icon{
    width: 87vw;
    padding: 1.6rem;

    text-align: left;

    background-color: var(--blue-850);
    color: var(--white);

    border: none;
    border-radius: 1.2rem;

    display: flex;
    align-items: center;
    gap: var(--spacing-200);

    box-shadow: 0 var(--spacing-200) var(--spacing-500) hsla(216, 25%, 25%, 0.14);

    cursor: pointer;

    text-decoration: none;
}

.button-with-icon:focus-visible,
.button-with-icon:hover{
    outline: 2px solid var(--purple-600);
    outline-offset: 4px;
}

.icon{
    width: 4rem;
    height: 4rem;
    border-radius: 0.6rem;
}

.icon-container.html-icon{
    background-color: var(--orange-50);
}

.icon-container.css-icon{
    background-color: var(--green-100);
}

.icon-container.javascript-icon{
    background-color: var(--blue-50);
}

.icon-container.accessibility-icon{
    background-color: var(--purple-100);
}

/* theme toggle */

.night-mode-toggle{
    align-self: flex-end;
    padding-right: 2.4rem;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 0.8rem;
}

.theme-icon{
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 0.6rem;
}

.theme-toggle-input:focus-visible ~ .theme-toggle-fill,
.theme-toggle-fill:hover{
    outline: 2px solid var(--purple-600);
    outline-offset: 4px; 
    cursor: pointer;
}

.theme-toggle-fill{
    position: relative;
    border-radius: 999px;
    background-color: var(--purple-600);

    width: 3.2rem;
    height: 2rem;

    display: flex;
    align-items: center;
}

.theme-toggle-fill::before{
    content: "";
    position: absolute;
    top: 0.4rem;
    left: 0.4rem;
    width: 1.2rem;
    height: 1.2rem;

    background-color: var(--white);
    border-radius: 999px;

    transition: left .3s linear;
}

.theme-toggle-input:checked ~ .theme-toggle-fill::before{
    left: 1.6rem;
}

/* answer button */

.answer-content-wrapper{
    display: flex;
    align-items: center;
    gap: var(--spacing-200);
}

.answer-button{
    justify-content: space-between;
}

.answer-button,
.styled-button{
    width: 100%;
    padding: var(--spacing-200);
    border-radius: 12px;

    border: none;
    display: flex;

    align-items: center;
    gap: var(--spacing-200);
    

    background-color: var(--blue-850);

    box-shadow: 0px 16px 40px 0px hsl(220, 29, 66, 0.14);
}

.answer-button:not(.disabled):hover,
.styled-button:not(.disabled):hover,
.answer-button:not(.disabled):focus-visible,
.styled-button:not(.disabled):focus-visible{
    outline: 2px solid var(--purple-600);
    outline-offset: 4px; 
    cursor: pointer;
}
    
.styled-button{
    display: block;
    color: var(--white);
    background-color: var(--purple-600);
    text-align: center;
}

.answer-button .answer{
    width: 4rem;
    height: 4rem;

    background-color: var(--grey-50);
    color: var(--grey-500);

    border-radius: 6px;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* media query */

/* tablet */

@media screen and (min-width: 767px) {

    /* theme toggle */

    .night-mode-toggle{
        gap: 1.6rem;
    }

    /* icon for toggle */
    .theme-icon{
        width: 2.4rem;
        height: 2.4rem;
    }

    .theme-toggle-fill{
        width: 4.8rem;
        height: 2.8rem;
    }

    .theme-toggle-fill::before{
        top: 0.4rem;
        left: 0.4rem;
        width: 2rem;
        height: 2rem;
    }

    .theme-toggle-input:checked ~ .theme-toggle-fill::before{
        left: 2.4rem;
    }

    /* button with icon */

    .button-with-icon{
        width: 100%;
        padding: var(--spacing-200);
        border-radius: 2.4rem;
    }

    /* all icons */
    .icon{
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 0.6rem;
    }

    /* answer button */
    
    .answer-button .answer{
        width: 5.6rem;
        height: 5.6rem;
    }

    .styled-button{
       height: 9.2rem; 
       border-radius: 24px;
    }

    .answer-content-wrapper{
        gap: var(--spacing-400);
    }

    .answer-button{
        gap: var(--spacing-400);
        border-radius: 24px;
    }

}

/* desktop */

@media screen and (min-width: 1440px) {
    .button-with-icon{
        padding: var(--spacing-300);
    }

    .answer-button{
        padding: var(--spacing-300);
        padding: var(--spacing-300);
    }
}
