@import url("./reset.css");
@import url("./variables.css");
@import url("./utilities.css");
@import url("./components.css");
@import url("./theme.css");

body{
    background-color: var(--blue-900);
    background-image: url("../../public/assets/images/pattern-background-mobile-dark.svg");
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--white);
    font-family: "Rubik", sans-serif;
    height: 100dvh;

    transition: background-color .3s linear, color .3s linear, background-image .3s linear; /* mozna zoptymalizowac zmiane background-image */
}

/* theme toggle */


.night-mode-toggle-container,
main{
    padding: 0 var(--spacing-300);
}

.night-mode-toggle-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.6rem 0;
}

/* header */

.header-content{
    text-align: left;
    padding-bottom: var(--spacing-500);
    padding-top: var(--spacing-400);
}

.header-content h1{
    margin-bottom: var(--spacing-100);
}

.header-content span{
    margin-bottom: var(--spacing-200);
    display: block;
}

.header-content p{
    color: var(--blue-300);

    transition: color .3s linear;
}

/* main */

.quiz-menu ul{
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
}

.icon-container{
    width: 4rem;
    height: 4rem;
    padding: 0.57rem;
    border-radius: 0.6rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* tablet */

@media screen and (min-width: 768px) {

    body{
        background-image: url("../../public/assets/images/pattern-background-tablet-dark.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .night-mode-toggle-container,
    main{
        padding: 0 var(--spacing-800);
    }

    .night-mode-toggle-container{
        padding-top: 5.4rem;
        padding-bottom: 4.7rem;
    }

    .night-mode-toggle{
        gap: 1.6rem;
    }

    .header-content{
        padding-bottom: var(--spacing-800);
        padding-top: 0;
    }

    .icon-container{
        width: 5.6rem;
        height: 5.6rem;
    }

    .quiz-menu ul{
        gap: var(--spacing-300);
    }

}

/* desktop */

@media screen and (min-width: 1440px) {

    body{
        background-image: url("../../public/assets/images/pattern-background-desktop-dark.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .night-mode-toggle-container,
    main{
        padding: 0 14.4rem;
    }

    .night-mode-toggle-container{
        padding-top: 9.7rem;
        padding-bottom: 9.9rem;
    }

    main{
        display: grid;
        grid-template-columns: 1fr 1fr;

        column-gap: var(--spacing-1600);
    }

    .header-content > p{
        padding-top: var(--spacing-600);
    }

    .header-content span{
        margin: 0;
    }

    .quiz-menu ul{
        gap: var(--spacing-200);
    }
}