@import url("./reset.css");
@import url("./variables.css");
@import url("./utilities.css");
@import url("./components.css");
@import url("./theme.css");

/* general */

body{
    background-color: var(--blue-900);
    background-image: url("../../public/assets/images/pattern-background-mobile-dark.svg");
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--white);
    font-family: "Rubik", sans-serif;
    height: 100dvh;

    transition: background-color .3s linear, color .3s linear, background-image .3s linear; /* mozna zoptymalizowac zmiane background-image */
}

header,
main{
    padding: 0 var(--spacing-300);
}

/* header */

header{
    height: 8.9vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topic-container{
    display: flex;
    align-items: center;
    gap: var(--spacing-200);
}

.night-mode-toggle{
    align-self: unset;
    padding-right: unset;
}

.icon-container{
    background-color: var(--purple-100);
    width: 4rem;
    height: 4rem;
    padding: 0.57rem;
    border-radius: 0.6rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* main */


.question-text{
    padding-top: var(--spacing-400);
    text-align: left;
}

.question-text > p{
    color: var(--blue-300);
    padding-bottom: var(--spacing-200);
}

.question-text > h1{
    padding-bottom: var(--spacing-300);
}

.progress-bar{
    width: 100%;
    height: 1.6rem;
    background-color: var(--blue-850);
    border-radius: 999px;
    padding: 0.4rem 0.4rem;
}

.progress-bar-fill{
    height: 0.8rem;
    width: 60%;
    border-radius: 999px;
    background-color: var(--purple-600);
}

/* answers */

.question-wrapper{
    padding-bottom: var(--spacing-500);
}

.answers-container{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
}

.answers-container ul{
    padding: 0;
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
}

.answers-container ul h2{
    color: var(--white);
}

/* tablet */

@media screen and (min-width: 767px) {

    body{
        background-image: url("../../public/assets/images/pattern-background-tablet-dark.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    header,
    main{
        padding: 0 var(--spacing-800);
    }

    /* header  */

    header{
        padding-top: var(--spacing-400);
        padding-bottom: 0;
    }

    .icon-container{
        width: 5.6rem;
        height: 5.6rem;
    }

    .topic-container{
        gap: var(--spacing-300);
    }

    /* main */

    .question-text{
        padding-top: var(--spacing-600);
    }

    .question-text > p{
        padding-bottom: var(--spacing-300);
    }

    .question-text > h1{
        padding-bottom: var(--spacing-500);
    }

    /* answers */

    .answers-container ul{
        gap: var(--spacing-300);
    }

    .answers-container{
        gap: var(--spacing-400);
    }


}

/* desktop */

@media screen and (min-width: 1439px) {

    body{
        background-image: url("../../public/assets/images/pattern-background-desktop-dark.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    header,
    main{
        padding: 0 14rem;
    } 

    header{
        height: unset;
        padding-top: 8.3rem;
        padding-bottom: 8.5rem;
    }

    main{
        display: grid;
        grid-template-columns: 45fr 55fr;

        column-gap: var(--spacing-1600);
    }

    .question-wrapper,
    .question-text{
       padding: 0;
    }

    .question-text > h1{
        padding-bottom: var(--spacing-2300);
    }

    .answers-container ul{
        gap: var(--spacing-200);
    }
}


