@import url("./reset.css");
@import url("./variables.css");
@import url("./utilities.css");
@import url("./components.css");
@import url("./theme.css");

/* general */

body{
    background-color: var(--blue-900);
    background-image: url("../../public/assets/images/pattern-background-mobile-dark.svg");
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--white);
    font-family: "Rubik", sans-serif;
    height: 100dvh;

    transition: background-color .3s linear, color .3s linear, background-image .3s linear; /* mozna zoptymalizowac zmiane background-image */
}

header,
main{
    padding: 0 var(--spacing-300);
}

/* header */

header{
    height: 8.9vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topic-container{
    display: flex;
    align-items: center;
    gap: var(--spacing-200);
}

.night-mode-toggle{
    align-self: unset;
    padding-right: unset;
}

.icon-container{
    background-color: var(--purple-100);
    width: 4rem;
    height: 4rem;
    padding: 0.57rem;
    border-radius: 0.6rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* main */

.title-container{
    padding-top: var(--spacing-400);
    padding-bottom: var(--spacing-500);

    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
}

.main-content-container{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
}

.topic-score{
    padding-top: var(--spacing-400);
}

.score-container{ 
    background-color: var(--blue-850);
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    align-items: center; 
}

.score-text-container{
    padding-top: var(--spacing-200);
}

.score-number{
    text-align: center;
}

.score-subtitle{
    font-size: 1.8rem;
    padding-top: var(--spacing-200);
    padding-bottom: var(--spacing-400);

    color: var(--blue-300);
}

/* tablet */

@media screen and (min-width: 767px) {
    body{
        background-image: url("../../public/assets/images/pattern-background-tablet-dark.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    header,
    main{
        padding: 0 var(--spacing-800);
    }

    /* header  */

    header{
        padding-top: var(--spacing-400);
        padding-bottom: 0;
    }

    .icon-container{
        width: 5.6rem;
        height: 5.6rem;
    }

    .topic-container{
        gap: var(--spacing-300);
    }

    /* main */

    .title-container{
        padding-top: var(--spacing-600);
        padding-bottom: var(--spacing-800);
    }

    .main-content-container{
        gap: var(--spacing-400);
    }

    .topic-score{
        padding-top: var(--spacing-600);
    }

    .score-text-container{
        padding-top: var(--spacing-500);
    }

    .score-subtitle{
        padding-bottom: var(--spacing-600);
        font-size: 2.4rem;
    }
}


/* desktop */

@media screen and (min-width: 1439px) {

    body{
        background-image: url("../../public/assets/images/pattern-background-desktop-dark.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    header,
    main{
        padding: 0 14rem;
    } 

    header{
        height: unset;
        padding-top: 8.3rem;
        padding-bottom: 8.5rem;
    }

    main{
        display: grid;
        grid-template-columns: 45fr 55fr;

        column-gap: var(--spacing-1600);
    }

    .title-container{
        padding: 0;
    }

}