/* INDEX PAGE */

body.light-mode{
    background-image: url("../../public/assets/images/pattern-background-mobile-light.svg");
    background-repeat: no-repeat;
    background-size: cover;

    background-color: var(--grey-50);
    color: var(--blue-900);
}


body.light-mode .header-content p{
    color: var(--grey-500);
    transition: color .3s linear;
}

body.light-mode .button-with-icon{
    background-color: var(--white);
    color: var(--blue-900);
}


/* tablet */

@media screen and (min-width: 768px) {

    body.light-mode{
        background-image: url("../../public/assets/images/pattern-background-tablet-light.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}

/* desktop */

@media screen and (min-width: 1440px) {

    body.light-mode{
        background-image: url("../../public/assets/images/pattern-background-desktop-light.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}

/* QUESTION PAGE */

body.light-mode .question-text > p{
    color: var(--grey-500);
}

body.light-mode .progress-bar{
    background-color: var(--white);
}

body.light-mode .answer-button{
    background-color: var(--white);
}

body.light-mode .answer-button h2{
   color: var(--black);
}

