@import url("./fonts.css");

:root{
    font-size: 10px;
    /* === Weights === */
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;

    /* === Font Sizes === */
    --fs-heading-large: clamp(8.8rem, 5.258vw + 6.828rem, 14.4rem);
    --fs-heading-medium: clamp(4rem, 2.254vw + 3.155rem, 6.4rem);
    --fs-heading-small: clamp(2rem, 1.502vw + 1.437rem, 3.6rem);
    --fs-paragraph-large: clamp(1.8rem, 0.939vw + 1.448rem, 2.8rem);
    --fs-paragraph-medium: 2.4rem;
    --fs-paragraph-small: clamp(1.4rem, 0.563vw + 1.189rem, 2rem);

    /* === Spacing  === */
    --spacing-100: 0.8rem;
    --spacing-200: 1.6rem;
    --spacing-300: 2.4rem;
    --spacing-400: 3.2rem;
    --spacing-500: 4rem;
    --spacing-600: 4.8rem;
    --spacing-800: 6.4rem;
    --spacing-1600: 12.8rem;
    --spacing-1800: 14.4rem; 
    --spacing-2300: 18.4rem;

    /* === Colors  === */
    --white: hsl(0, 100%, 100%);
    --black: hsl(0, 0%, 0%);

    /* Grey */
    --grey-500: hsl(219, 13%, 44%);
    --grey-50: hsl(220, 38%, 97%);

    /* Blue */
    --blue-950: hsl(214, 24%, 23%);
    --blue-900: hsl(216, 25%, 25%);
    --blue-850: hsl(215, 27%, 32%); 
    --blue-500: hsl(223, 100%, 59%);
    --blue-300: hsl(216, 47%, 78%);
    --blue-100: hsl(220, 50%, 95%);
    --blue-50: hsl(225, 100%, 96%); 

    /* Green */
    --green-500: hsl(151, 68%, 52%);
    --green-100: hsl(151, 88%, 94%);
 
    /* Purple */
    --purple-600: hsl(277, 91%, 56%);
    --purple-100: hsl(278, 100%, 95%);

    /* Orange */
    --orange-400: hsl(22, 100%, 60%);
    --orange-50: hsl(27, 100%, 96%);

    /* Red */
    --red-500: hsl(0, 82%, 63%);
}



